canvas{
    border: 5px solid black;
    border-radius:20px;
    box-shadow: 25px 25px 25px white;
    margin-top: 100px;
}

.btn:hover{
        line-height: 3;
}

.btn{
    padding: 5px;
}

body{
    background-image: linear-gradient(#00FFFF,#FF00FF);
}

